@charset "utf-8";

main{
}
#visual_slide{
  height: 937px;
  overflow: hidden;
}
#visual_slide > h2{
  display: none;
}
#visual_slide div{
  position: relative;
}
#visual_slide div:first-of-type{
  z-index: 10;
}
#visual_slide div:last-of-type{
  z-index: 9;
}
#visual_slide div span{
  position: absolute;
  z-index: 10;
  font-size: 40px;
  color: #ccc;
  font-weight: 50px;
  top: 280px;
  left: 3%;
}
#visual_slide video{
  position: absolute;
  width: 100%;
}
/* 좌,우 방향버튼 서식 */
.s_btn{
  position: relative;
  top: 50%;
  display: flex;
  z-index: 20;
}
.s_btn > li{
  background-color: rgba(255,255,255,.7);
  padding: 11.5px 15px;
  border-radius: 50%;
  position: absolute;
}
.s_btn > li .fas{
  font-size: 14px;
}
.s_btn > li:first-child{
  left: 3%;
}
.s_btn > li:last-child{
  right: 3%;
}

/* 콘트롤 버튼 서식 */
#visual_slide .ctrl_btn{
  display: flex;
  position: absolute;
  right: 25%;
  bottom: 5%;
  z-index: 10;
}
#visual_slide .ctrl_btn > li{
  justify-content: space-around;
  width: 500px;
  height: 2px;
  background: rgba(255,255,255,.5);
  cursor: pointer;
  margin-left: 10px;
}
.on{
  background: #fff !important;
}

/* 인트로 서식 */
#intro{
  padding: 50px 0px;
}
#intro > h2{
  display: none;
}
#intro > article{
  position: relative;
  display: flex;
  margin: 0px auto;
  width: 1200px;
  height: 680px;
  background-image: url('../image/introduce_bg.jpg');
}
#intro > article > .video01{
  position: absolute;
  top: 30%;
  left: 3%;
}
#intro > article > .video01 video{
  width: 660px;
}
#intro > article > .txt01{
  position: absolute;
  top: 45%;
  right: 3%;
}
#intro > article > .video01 video{
  width: 660px;
}
#intro > article > .txt01 img{
  width: 70%;
  margin-left: auto;
  display: block;
  padding-bottom: 10px;
}
#intro > article > .txt01 p{
  color: var(--f-color02);
  line-height: 20px;
  font-size: var(--f-size01);
  text-align: right;
}

/* season서식 */
#tab_con{
  background-color: var(--bg-color01);
  position: relative;
}
#tab_con > h2{
  display: none;
}
.tcon{
  width: 1200px;
  height: 700px;
  margin: var(--m-auto);
  background-image: url("../image/season01.jpg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position:center right;
  overflow:hidden;
  padding: 50px 0px;
}
.tcon > h2 img{
  width: 200px;
  padding-top: 70px;
}
#tab_con ul{
  width: 700px;
  padding-top: 50px;
  position: relative;
  display: flex;
}
#tab_con li{
  margin-right: 10px;
}
#tab_con ul li a{
  background-color: var(--bg-color04);
  color: var(--f-color01);
  padding: 10px 25px;
  font-size: var(--f-size01);
  font-weight: bold;
}
#tab_con .cont{
  position: absolute;
  left: 0px;
  top: 75px;
  font-size: var(--f-size02);
  padding: 10px;
  line-height: 200%;
  color: var(--f-color02);
  display: none;
}
/* 탭메뉴 클릭시 적용되는 서식 */
.tab_on{
  background-color: var(--bg-color02) !important;
  color: var(--f-color02) !important;
}
